<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Partials/head.ejs -->
    <%- include('../partials/head.ejs') %>
    <title>Application Tracker</title>
  </head>
  <!-- NavBar -->
  <%- include('../partials/navbar.ejs') %>
  <body>
    <h1>Register New Account</h1>

    <form action="/register" method="POST" class="allApp-list app-form">
      <div class="row justify-content-start">
        <div class="col-4">
          <label for="email">Username: </label>
        </div>
        <div class="col-2">
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
            minlength="5"
          />
        </div>
      </div>


      <div class="row justify-content-start">
        <div class="col-4">
          <label for="email">Email: </label>
        </div>
        <div class="col-2">
          <input type="email" name="email" placeholder="Email" required />
        </div>
      </div>

      <div class="row justify-content-start">
        <div class="col-4">

          <label for="email">Password: </label>

        </div>
        <div class="col-2">
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            minlength="8"
          />
        </div>
      </div>
      <div class="text-center">

        <input type="submit" value="Register" class="btn btn-primary" />
      </div>
    </form>

  </body>
</html>