<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Application Tracker</title>
  </head>
  <!-- NavBar -->
  <%- include('partials/navbar.ejs') %>

  <body>
    <h1>Welcome to the Application Tracker</h1>

    <ul>
      <% if (user) { %>

      <h3 class="text-center">Welcome back <%= user.username %></h3>

      <form action="/logout?_method=DELETE" method="POST">
        <div class="text-center">
          <input type="submit" value="Logout" />
        </div>
      </form>

      <% } else { %>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
