<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <!-- NavBar -->
  <%- include('partials/navbar.ejs') %>

  <body>
    <h1>Welcome to AppTracker</h1>

    <div class="list-group allApp-list app-form">
      <% if (user) { %>

      <h3 class="text-center">Welcome back <%= user.username %></h3>

      <div id="homebtn" class="row align-items-center">
        <a class="btn btn-primary btn-block" href="/applications/new"
          >Add Application</a
        >
      </div>

      <div id="homebtn" class="row align-items-center">
        <a class="btn btn-primary btn-block" href="/companies/"
          >View All Companies</a
        >
      </div>
      <div id="homebtn" class="row align-items-center">
        <a class="btn btn-primary btn-block" href="/applications/"
          >All Applications</a
        >
      </div>
      <!-- logout -->
      <form action="/logout?_method=DELETE" method="POST">
        <div id="homebtn" class="row align-items-center">
          <input
            class="btn btn-primary btn-block"
            type="submit"
            value="Logout"
          />
        </div>
      </form>

      <% } else { %>
      <div class="row justify-content-center">
        <div class="col-4">
          <a class="btn btn-primary btn-block" href="/register">Register</a>
        </div>
        <div class="col-4">
          <a class="btn btn-primary btn-block" href="/login">Login</a>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
