* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-position: absolute;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(45, 47, 82) 100% /* rgb(153, 85, 249) 100% */
  );
}

main {
  margin: 10px;
  padding: 12px;
}
h1 {
  color: #1b67a8;
  text-align: center;
  padding: 50px 0 50px 0;
}

/* allApplicationPage */

.allapp-company {
  text-align: center;
  font-size: 23px;
}

.allapp-company a:hover {
  color: white;
  text-align: center;
  font-size: 23px;
  background-color: #117bff;
}
.allApp-list {
  max-width: 600px;
  margin: auto;
}

/* App Add/Creat/edit page*/

.app-form {
  background-color: whitesmoke;
  padding: 40px;
  max-width: 1000px;
  margin: 50px auto;
  padding: auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

label {
  font-size: 18px;
  font-weight: bold;
  color: rgba(19, 16, 16, 0.797);
}

/* Register page*/

.register-form {
  padding: 40px;
  width: 400px;
  margin: 50px auto;
  padding: auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.register-button {
  padding-left: 230px;
  padding-right: 230px;
  margin-top: 15px;
}

#homebtn {
  padding: 10px;
}
#companybtn {
  padding: 10px;
  margin: 10px 0px;
}

#descriptionbox {
  overflow: scroll;
  max-height: 300px;
}

#refbox {
  padding: 20px;
}
#newbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
