* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(249, 140, 85, 1) 100%
  );
}

main {
  margin: 10px;
  padding: 12px;
}
h1 {
  color: #1b67a8;
  text-align: center;
  padding: 100px 0 50px 0;
}

/* allApplicationPage */
.allApp-h1 {
  text-align: center;
  padding: 100px 0 50px 0;
}
.allapp-company {
  text-align: center;
  font-size: 23px;
}

.allapp-company a:hover {
  color: white;
  text-align: center;
  font-size: 23px;
  background-color: #117bff;
}
.allApp-list {
  width: 600px;
  margin: auto;
}

/* App Add/Creat/edit page*/

.app-form {
  background-color: whitesmoke;
  padding: 40px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

label {
  font-size: 18px;
  font-weight: bold;
  color: rgba(19, 16, 16, 0.797);
}

.navbar-custom {
  color: #117bff;
}

img {
  height: 100px;
  width: 50px;
}

#homebtn {
  padding: 10px;
}
#companybtn {
  padding: 10px;
  margin: 10px 0px;
}

#descriptionbox {
  overflow: scroll;
  max-height: 300px;
}
